alembic==1.10.4
bcrypt==3.2.0
colorama==0.4.4
dnspython==2.3.0
email-validator==2.0.0.post2
Flask==2.3.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Script==2.0.5
Flask-Security==3.0.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
idna==3.3
itsdangerous==2.1.2
MarkupSafe==2.1.2
paramiko==2.9.3
psycopg2==2.9.6
psycopg2-binary==2.9.6
six==1.16.0
Werkzeug==2.3.4
WTForms==3.0.1
