{% extends 'layout.html' %}


{% block main_page %}

<div class="wrapper">

<body>
    <h1>You're in your personal account</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.partinfo }}

        <table>
            <tr>
                <td>My skills</td>
                <td>My experience</td>
                <td>Copyrighter</td>
                <td>Contenteditor</td>
            </tr>
            <tr>
                <td>{{ part.my_skills }}</td>
                <td>{{ part.my_experience }}</td>
                <td>{{ part.copyrighter }}</td>
                <td>{{ part.contenteditor }}</td>
            </tr>
        </table>

        {% if project %}
            <table>
                <tr>
                    <td>Name your project</td>
                </tr>
                <tr>
                    <td>{{ project.name_blog }}</td>
                </tr>
            </table>
            {{ form.editproject }}
        {% else %}
            {{ form.newproject }}
        {% endif %}
    </form>
</body>
</div>

{% endblock main_page %}
