{% extends 'layout.html' %}

{% block main_page %}

<div class="wrapper">
<body>
    <h1>Hello you are logged in.</h1>


    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.my_skills.label }} {{ form.my_skills() }}
        <br>
        {{ form.my_experience.label }} {{ form.my_experience }}
        <br>
        <br>
        {{ form.profession.label }} {{ form.profession(size=12, multiple=False) }}
        <br>
        <br>
        {{ form.topics_user.label }} {{ form.topics_user(size=14, multiple=True)}}
        <br>
        <br>
        {{ form.submit }}
    </form>

    <a href="{{url_for('users.dashboard')}}">Press here to return</a>
</body>
</div>

{% endblock main_page %}
